{% extends 'users/baseloginout.html' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4" style="padding: 30px">
                <div class="card">
                    <div class="card-header text-white" style="background-color: darkslateblue">
                        <div class="card-title">
                            Register
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group" style="padding: 10px">
                                    {{ field.name }}
                                        <br>
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <button class="offset-md-5 text-white"
                                    style="background-color: darkslateblue; border-radius: 5px" type="submit">Signup
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


<form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Signup</button>
</form>